blinker==1.6.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dacite==1.8.1
dnspython
exceptiongroup
Flask
Flask-PyMongo
gunicorn
idna
iniconfig
itsdangerous
Jinja2
joblib
MarkupSafe
mypy
mypy-extensions
numpy
packaging
pika
plotly
pluggy
pymongo
pytest
python-dotenv
PyYAML
requests
responses
scikit-learn
scipy
tenacity
threadpoolctl
tomli
types-PyYAML
types-requests
types-urllib3
typing_extensions
urllib3
Werkzeug
pika
